---
import { StarIcon as SolidStar } from "@heroicons/react/24/solid";
import { StarIcon as OutlineStar } from "@heroicons/react/24/outline";

interface Props {
  n: number | null;
}

const { n } = Astro.props;
const rating = n ?? 0;
const empty = Math.max(0, 5 - rating);
---

<div class="flex gap-1">
  {Array.from({ length: rating }).map(() => <SolidStar className="w-4 h-4 text-yellow-500" />)}
  {Array.from({ length: empty }).map(() => <OutlineStar className="w-4 h-4 text-gray-500" />)}
</div>
