---
import getTime from "~/lib/i18n/getTime";
import getLanguageLabel from "~/lib/i18n/getLanguageLabel";
import { CommentText } from "~/locales";
import Username from "~/components/Username.astro";
import MarkdownContent from "~/components/MarkdownContent.astro";
import CommentReplyButton from "~/components/CommentReplyButton.tsx";
import type { CommentProps } from "~/types/Comment";

interface Props {
  comment: CommentProps;
  lang: string;
}

const { comment, lang } = Astro.props;
const label = getLanguageLabel(CommentText, lang);
---

<div class="pt-8">
  <Username comment={comment} />
  <div class="text-sm text-zinc-500">{getTime(comment.created_at, lang)}</div>

  {
    comment.reply_to && (
      <div class="mt-2">
        <p class="p-4 bg-zinc-100 text-sm text text-zinc-700 mb-4">
          {`回复 ${comment.reply_to.is_anonymous ? comment.reply_to.name : comment.reply_to.users.name}: ${comment.reply_to.content_text.substring(0, 120)}...`}
        </p>
      </div>
    )
  }

  <div class="my-4 text-base text-zinc-700 space-y-2">
    <MarkdownContent content={comment.content_text} />
  </div>

  <CommentReplyButton client:load comment={comment} label={label.reply} />
</div>
