---
import { SubNavItems } from "~/locales";

interface Props {
  lang: string;
  active: string;
}

const { lang, active } = Astro.props;
const items = SubNavItems(lang, active);
---

<div class="flex gap-8 justify-center p-4 border-b border-gray-200 z-10 relative">
  {
    items.map((item) => (
      <a
        class="text-sm hover:text-violet-700 hover:font-medium text-zinc-500"
        href={item.link}
      >
        {item.name}
      </a>
    ))
  }
</div>
